{% extends 'base.html' %}
{% block title %}口座登録フォーム{% endblock %}
{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold">口座登録フォーム</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
        </form>
    </div>
    <script>
			$(document).ready(function() {
					$('#id_bank_name').change(function() {
							var bank_code = $(this).val();
							$.ajax({
									url: '{% url "account:get_branches" %}',
									data: {
											'bank_code': bank_code
									},
									success: function(data) {
											var branch_select = $('#id_branch_name');
											branch_select.empty();
											$.each(data, function(key, value) {
													branch_select.append('<option value="' + value[0] + '">' + value[1] + '</option>');
											});
									}
							});
					});
			});
    </script>
{% endblock %}
