{% extends 'login_base.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-md-3 g-4 d-flex align-items-center justify-content-evenly">
  <div class="col">
    <div class="card h-100 border-primary mb-3">
			<div class="card-header">顧客様</div>
      <img src="{% static 'image/sample.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">タイトル？</h5>
        <p class="card-text">顧客様はこちらからお願いしまステキな文言を配置</p>
      </div>
      <div class="card-footer">
				<div class="d-flex align-items-center justify-content-evenly">
					<a href="{% url 'account:customer_login' %}" class="btn btn-primary px-5 mx-auto">ログイン</a>
					<a href="{% url 'account:customer_pre_registration' %}" class="btn btn-primary px-5 mx-auto">登録申請</a>
				</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-primary mb-3">
			<div class="card-header">つな会員様</div>
      <img src="{% static 'image/sample.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">タイトル？</h5>
        <p class="card-text">会員様はこちらからお願いしまステキな文言を配置</p>
      </div>
      <div class="card-footer">
				<div class="d-flex align-items-center justify-content-evenly">
					<a href="{% url 'account:member_login' %}" class="btn btn-primary px-5 mx-auto">ログイン</a>
					<a href="{% url 'account:member_pre_registration' %}" class="btn btn-primary px-5 mx-auto">登録申請</a>
				</div>
      </div>
    </div>
  </div>
	
</div>
{% endblock %}