{% extends 'login_base.html' %}
{% block title %}管理者ログイン{% endblock %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="post" action="{% url 'account:admin_login' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-floating mb-3">
            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">Email address</label>
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {% if form.password.errors %}
                <div class="text-danger">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-check mb-3">
            {{ form.remember_me }}
            <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">Remember me</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
	<div>
		<a href="{% url 'account:member_pre_registration' %}" class="link-secondary text-decoration-none">ご登録はこちら</a>
		<a href="{% url 'account:password_reset' %}" class="link-secondary text-decoration-none">パスワードを忘れた方はこちら</a>
	</div>
</main>
{% endblock %}
