{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="ja-jp">
  <head>
    {% include "head.html" %}
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% block header_extra %}{% endblock %}
  </head>
  <body>
    {% include "login_header.html" %}
    <main class="d-flex align-items-center justify-content-center min-vh-100">
      {% block content %}{% endblock %}
    </main>
    {% include "login_footer.html" %}
    {% bootstrap_javascript %}
  </body>
</html>
