{% load static %}
{% include "head.html" %}
<div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Information
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <img src="{% static 'image/icon/project.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Projects
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <img src="{% static 'image/icon/graph.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Graph
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <img src="{% static 'image/icon/notification.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Notify
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <img src="{% static 'image/icon/contact.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>