{% load static %}
{% include "head.html" %}
<div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
						{% if request.user.is_authenticated and request.user.is_superuser %}
            <li>
              <a href="{% url 'account:customer_registration_list' %}" class="nav-link {% if 'customer_registration' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                顧客本登録
              </a>
            </li>
						<li>
              <a href="{% url 'account:member_registration_list' %}" class="nav-link {% if 'member_registration' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                会員本登録
              </a>
            </li>
						<li>
              <a href="{% url 'invoice:invoice_create' %}" class="nav-link {% if 'invoice' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                請求書作成
              </a>
            </li>
						
						{% endif %}
						<li>
              <a href="{% url 'info:announcement_list' %}" class="nav-link {% if 'info' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Information
              </a>
            </li>
						
            <li>
              <a href="{% url 'dashboard:project_list' %}" class="nav-link {% if 'dashboard' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/project.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Projects
              </a>
            </li>
            <li>
              <a href="#" class="nav-link {% if 'graph' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/graph.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Graph
              </a>
            </li>
            <li>
              <a href="#" class="nav-link {% if 'notification' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/notification.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Notify
              </a>
            </li>
            <li>
              <a href="#" class="nav-link {% if 'contact' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/contact.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Contact
              </a>
            </li>
            <li>
							{% if request.login_status.is_member %}
							<a href="{% url 'account:member_self_registration' request.user.pk %}" class="nav-link {% if 'profile' in request.path %}text-secondary{% else %}text-white{% endif %}">
							{% else %}
							<a href="#" class="nav-link {% if 'profile' in request.path %}text-secondary{% else %}text-white{% endif %}">
							{% endif %}
                {{ request.user.username }}
              </a>
            </li>
						<li>
							<form action="{% url 'account:logout' %}" method="post">
								{% csrf_token %}
              <button type="submit" class="nav-link text-white">
                logout
              </button>
								</form>
            </li>
          </ul>
        </div>
      </div>
    </div>