{% load static %}
{% include "head.html" %}
<div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url 'info:question_answer' %}" class="nav-link {% if 'info/question_answer' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                Q/A
              </a>
            </li>
						<li>
              <a href="{% url 'info:information' %}" class="nav-link {% if 'info/information' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                お知らせ
              </a>
            </li>
						<li>
              <a href="{% url 'info:customer_voice' %}" class="nav-link {% if 'info/customer_voice' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/info.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                お客様の声
              </a>
            </li>
            <li>
              <a href="{% url 'info:price' %}" class="nav-link {% if 'info/price' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/project.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                料金
              </a>
            </li>
            <li>
              <a href="{% url 'info:characteristic' %}" class="nav-link {% if 'info/characteristic' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/graph.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                つなコンとは
              </a>
            </li>
            <li>
              <a href="{% url 'info:contact' %}" class="nav-link {% if 'info/contact' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/notification.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                お問い合せ
              </a>
            </li>
            <li>
              <a href="{% url 'material_request:request' %}" class="nav-link {% if 'material_request' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/contact.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                資料請求
              </a>
            </li>
						<li>
              <a href="{% url 'account:login_choice' %}" class="nav-link {% if 'login' in request.path %}text-secondary{% else %}text-white{% endif %}">
                <img src="{% static 'image/icon/contact.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                ログイン/会員登録
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>