{% extends 'base.html' %}
{% block title %}Edit Project{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold">Edit Project</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-500 text-white p-2 rounded">Save Changes</button>
</form>
{% endblock %}
{% block js_extra %}
		$(document).ready(function() {
				$('#id_grade').change(function() {
						var grade_id = $(this).val();
						if (grade_id) {
								$.ajax({
										url: '/get_grade_price/', // エンドポイントを適宜変更してください
										data: {'grade_id': grade_id},
										success: function(data) {
												$('#id_price').val(data.price);
										}
								});
						} else {
								$('#id_price').val('');
						}
				});
		});
{% endblock %}
