{% extends 'base.html' %}
{% block title %}案件作成{% endblock %}
{% block content %}
	<h1 class="text-2xl font-bold">案件作成</h1>
	<div>
		<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" name="save" class="bg-blue-500 text-white p-2 rounded">保存</button>
				<button type="submit" name="draft" class="bg-blue-500 text-white p-2 rounded">下書き保存</button>
		</form>
		<button name="publish" class="bg-blue-500 text-white p-2 rounded">公開</button>
		<a href="{% url 'dashboard:project_list' %}" class="">取消</a>
	</div>
{% endblock %}
{% block js_extra %}

	document.querySelector('#id_categories').addEventListener('change', function() {
		const selectedCategories = Array.from(this.selectedOptions).map(option => option.value);
		const url = "{% url 'dashboard:get_tags' %}";
		fetch(`${url}?categories[]=${selectedCategories.join(',')}`)
			.then(response => response.json())
			.then(data => {
				const tagField = document.querySelector('#id_tags');
				tagField.innerHTML = '';
				data.forEach(tag => {
					const option = document.createElement('option');
					option.value = tag.id;
					option.textContent = tag.name;
					tagField.appendChild(option);
				});
			});
	});
{% endblock %}
